%h1=t(:competitor_prices)

%table.index
  %thead
    %tr
      %th=t(:varent_name)
      %th=t(:our_price)
      - for competitor in @competitors
        %th=competitor
  %tbody
    - @results.each_with_index do |result, i|
      %tr{:id => 'variant_' + i.to_s}
        %td= display_variant_name @variants[i]
        %td= product_price(@variants[i])
        - for competitor_price in result
          %td=display_competitor_price add_gst(@variants[i].price), competitor_price
